################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Properties/PublishProfiles
/Properties
/obj/Debug
/bin
/.vs/TravillioXMLOutService_Hotel/config
/.vs/TravillioXMLOutService_Hotel/v16/Server/sqlite3
/App_Data
/.vs/BookingAPI/v17/.wsuo
/.vs/BookingAPI/v17/DocumentLayout.json
/.vs/TravillioXMLOutService_Hotel/FileContentIndex/4cc6451b-91c6-46fb-9d55-294d1d51d4f3.vsidx
/.vs/TravillioXMLOutService_Hotel/FileContentIndex/7ae59b74-7e70-4560-954a-15e99df4780c.vsidx
/.vs/TravillioXMLOutService_Hotel/FileContentIndex/84abc70e-7b50-4a4b-9367-901230a65dcd.vsidx
/.vs/TravillioXMLOutService_Hotel/FileContentIndex/96894f60-81cd-4515-a76d-7f797dbb1f2f.vsidx
/.vs/TravillioXMLOutService_Hotel/FileContentIndex/bbd1b967-7bfe-4d86-bae7-9ef698bcf65b.vsidx
/.vs/TravillioXMLOutService_Hotel/FileContentIndex/d9323ad1-2e25-4daa-a6a2-4eb1f08ad1bf.vsidx
/.vs/TravillioXMLOutService_Hotel/FileContentIndex/ff1d0f77-8957-4098-afbe-ab9a139ee6f6.vsidx
/.vs/TravillioXMLOutService_Hotel/FileContentIndex/e10f5938-e275-418d-aa3e-52011812d353.vsidx
/.vs/TravillioXMLOutService_Hotel/v17/.suo
/.vs/TravillioXMLOutService_Hotel/v17/DocumentLayout.json
*.vsidx
*.json
/.vs/TravillioXMLOutService.csproj.dtbcache.json
