<!--<connectionStrings>
  <add name="DbConnection" connectionString="data source=103.48.50.253,1559;database=ExportERP.Test;uid=sa;password=pamface@321;" />
  <add name="ExportERPConnectionString" connectionString="Data Source=103.48.50.253,1559;Initial Catalog=ExportERP.Test;Persist Security Info=True;User ID=sa;Password=pamface@321" providerName="System.Data.SqlClient" />
  <add name="IExproContext" connectionString="data source=103.48.50.253,1559;initial catalog=ExportERP.Test;persist security info=True;user id=sa;password=pamface@321;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>-->

<connectionStrings>
  <add name="INGMContext" connectionString="data source=125.18.163.75;initial catalog=ExportServiceAPI;user id=sa;password=eit@2022;"/>
  <add name="RTSHtl_Static" connectionString="data source=125.18.163.75;initial catalog=ExportServiceAPI;user id=sa;password=eit@2022;"/>
</connectionStrings>

