<connectionStrings>
  <!--<add name="INGMContext" connectionString="data source=125.18.163.75;initial catalog=ExportServiceAPI;user id=sa;password=eit@2022;"/>
  <add name="RTSHtl_Static" connectionString="data source=125.18.163.75;initial catalog=ExportServiceAPI;user id=sa;password=eit@2022;"/>-->

  <add name="INGMContext" connectionString="data source=DB-SERVER;initial catalog=BE_ServiceAPI;user id=BEXPDEV;password=@bexp#2021;"/>
  <add name="RTSHtl_Static" connectionString="data source=DB-SERVER;initial catalog=BE_ServiceAPI;user id=BEXPDEV;password=@bexp#2021;"/>

  
  
  
  
  
  
  
  <!--<add name="RTSHtl_Static" connectionString="data source=202.143.99.106;initial catalog=TravayooService;user id=IngDev;password=iNg#2020@1;"/>
  <add name="INGMContext" connectionString="data source=202.143.99.106;initial catalog=TravayooService;user id=IngDev;password=iNg#2020@1;"/>-->

</connectionStrings>